<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=1024">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="icon" href="/assets/images/logo.png">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  
  
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  >

  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</head>
