<div class="top_navbar">
  {% assign current_xp = 23885 %}
  {% assign last_xp = 23000 %}
  {% assign need_xp = 34000 %}

  {% assign gained = current_xp | minus: last_xp %}
  {% assign total = need_xp | minus: last_xp %}
  {% assign percentage = gained | times: 100 | divided_by: total %}

  <p style="color:white;">
    Party XP
    <button style="pointer-events: none; border-radius: 25px; background-color:white; padding: 0 20px;">
      {{ current_xp }}
    </button>

    XP Level 8
    <button style="pointer-events: none; border-radius: 25px; background-color:white; padding: 0 20px;">
      {{ need_xp }}
    </button>

    Level up?
    <button style="
      pointer-events: none;
      width: 100px;
      border-radius: 25px;
      padding: 0 20px;
      background: linear-gradient(
        to right,
        #b9ddeb 0% {{ percentage }}%,
        white {{ percentage }}% 100%
      );
    ">
      {{ percentage }}%
    </button>
  </p>
</div>
