<div class="top_navbar">
  <!-- XP Calculations -->
  {% assign current_xp = 0 %}
  {% for recap in site.recaps %}
    {% assign recap_xp = recap.xp | default: 0 %}
    {% assign current_xp = current_xp | plus: recap_xp %}
  {% endfor %}


  {% assign gained = {{current_xp}} | minus: {{site.last_xp}} %}
  {% assign total = {{site.need_xp}} | minus: {{site.last_xp}} %}
  {% assign percentage = gained | times: 100 | divided_by: total %}

  <!-- Buttons -->
  <p>
    Party XP
    <button>
      {{ current_xp }}
    </button>

    XP Level {{ site.current_level | plus: 1 }}
    <button>
      {{ site.need_xp }}
    </button>

    Level up?
    <button style="
      background: linear-gradient(
        to right,
        #b9ddeb 0% {{ percentage }}%,
        var(--color-bg) {{ percentage }}% 100%
      );
    ">
      {{ percentage }}%
    </button>
  </p>
</div>
