<div class="top_navbar">
  {% assign current_xp = 2570 %}
  {% assign last_xp = 1000 %}
  {% assign need_xp = 3000 %}

  {% assign gained = current_xp | minus: last_xp %}
  {% assign total = need_xp | minus: last_xp %}
  {% assign percentage = gained | times: 100 | divided_by: total %}

  <p>
    Party XP
    <button>
      {{ current_xp }}
    </button>

    XP Level 3
    <button>
      {{ need_xp }}
    </button>

    Level up?
    <button style="
      background: linear-gradient(
        to right,
        #b9ddeb 0% {{ percentage }}%,
        var(--color-bg) {{ percentage }}% 100%
      );
    ">
      {{ percentage }}%
    </button>
  </p>
</div>
