<div class="sidebar">
  <div class="profile">
    <img src="/assets/images/logo.png" style="border-radius:0px;">
    <h3>{{ site.title }}</h3>
    <p>An <em>Embers of the Vale</em> adventure</p>

    <br><br>

    <button style="
      pointer-events: none;
      border-radius: 8px;
      border: 1px solid #440044;
      background-color: white;
      padding: 3px 20px;
    ">
      <span style="font-size: 16px;"><b>Next Session:</b></span>
      <hr style="border: 0.25px solid grey;">
      Friday 12/26/25 6:00 PM
    </button>
  </div>

  <ul>
    <li>
      <a href="/" class="{% if page.url == '/' %}active{% endif %}">
        <span class="item">Party Notes</span>
      </a>
    </li>

    <li>
      <a href="/pages/characters/" class="{% if page.url contains 'characters' %}active{% endif %}">
        <span class="item">People</span>
      </a>
    </li>

    <li>
      <a href="/pages/world/" class="{% if page.url contains 'world' %}active{% endif %}">
        <span class="item">World Lore</span>
      </a>
    </li>

    <li>
      <a href="/pages/recaps/" class="{% if page.url contains 'recaps' %}active{% endif %}">
        <span class="item">Session Recaps</span>
      </a>
    </li>

    <li>
      <a href="https://www.owlbear.rodeo/room/pDtEugyEYgp_/TheSlyJar" target="_blank">
        <span class="item">
          Battle Maps <i class="fa fa-external-link"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
