<div class="sidebar">
  <div class="profile">
    <img src="{{ site.baseurl }}/assets/images/logo.png" style="border-radius:0px;">
    <h3>{{ site.title }}</h3>
    <p>An <em>Embers of the Vale</em> adventure</p>

    <br>

    <button>
      <span style="font-size: 16px; color: var(--text-dark)"><b>Next Session:</b></span>
      <hr style="border: 0.25px solid grey;">
      <span style="color:var(--text-dark)">{{site.next_session}}</span>
    </button>
  </div>

  <ul>
    <li>
      <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">
        <span class="item">Party Notes</span>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/characters/" class="{% if page.url contains 'characters' %}active{% endif %}">
        <span class="item">People</span>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/lore/" class="{% if page.url contains 'lore' %}active{% endif %}">
        <span class="item">World Lore</span>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/locations/" class="{% if page.url contains 'locations' %}active{% endif %}">
        <span class="item">Locations</span>
      </a>
    </li>

    <li>
      <a href="{{ site.baseurl }}/recaps/" class="{% if page.url contains 'recaps' %}active{% endif %}">
        <span class="item">Session Recaps</span>
      </a>
    </li>

    <li>
      <a href="https://www.owlbear.rodeo/room/pDtEugyEYgp_/TheSlyJar" target="_blank">
        <span class="item">
          Battle Maps <i class="fa fa-external-link"></i>
        </span>
      </a>
    </li>
  </ul>
   <div style="flex-grow: 1;"></div>
  <div class="thanks">
    <img src="{{ site.baseurl }}/assets/images/misc/centaur.png" 
      alt="The indespensable website creator"
      title="Jamulus of Framingham, the website's human muse.">
  </div>
</div>
