<div class="world-fiction">
<h2>Books</h2>
<p><strong>A History of Occult Practices of Gilvry.</strong> A book on occultism recovered from a 
    necromancer in Arajin Vale.</p>

<p><strong>Tweet's Tome of Beasts of the Heartlands.</strong> A book sold to Zalner Tallstep, 
    contains information about assorted mundane and magical beasts, including krenshars.</p>

<p><strong>Runes of Old Ilharim and their Uses.</strong> A reference text on old Ilharic runes given 
    to the party by Lord Mystif Carn.</p>

<h2>Letters</h2>
<em>Click to enlarge</em>
<div class="letters">
<a href="{{ site.baseurl }}/assets/images/handouts/mizal_letter.jpg" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/handouts/mizal_letter.jpg" alt="Letter Mizal to family"
     class="letter">
</a>
<a href="{{ site.baseurl }}/assets/images/handouts/nue_letter.jpg" target="_blank">
    <img src="{{ site.baseurl }}/assets/images/handouts/nue_letter.jpg" alt="Letter from Nue to Mizal"
     class="letter">
</a>
</div>
</div>