<div class="religion">
<h2>Religion</h2>
<p>The primary gods of worship across Aerth are the Five Celestial Lords, though in slightly different 
    forms throughout the different lands. For example, a dwarf, living in deep in a clanhold under the 
    Wyrmbone Mountains might depict Lord Amarhus as a dwarven smith, lighting the sun in his forge. On 
    the other hand, a human sailor might depict him as a harbormaster, shepherding the ships into port 
    with the coming dawn. The Celestial Lords are listed in the table below.</p>

<table class="char gods">
  <caption><strong>Table 1.</strong> Greater Gods</caption>
  <thead>
    <tr>
      <th>Deity</th>
      <th>AL</th>
      <th>Titles</th>
      <th>Domains</th>
      <th>Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amarhus</td>
      <td>LG</td>
      <td>The Sun-Keeper, The City-Father</td>
      <td>Good, Law, Strength, Sun</td>
      <td>Pillar in front of Sun</td>
    </tr>
    <tr>
      <td>Belet-Seri</td>
      <td>NG</td>
      <td>The Matron of War, The Great Mother</td>
      <td>Good, Protection, Sun, War</td>
      <td>Spear crossed with wheat</td>
    </tr>
    <tr>
      <td>Ea</td>
      <td>NG</td>
      <td>The Wandering Healer</td>
      <td>Good, Healing, Plant, Travel</td>
      <td>Snowbell flower</td>
    </tr>
    <tr>
      <td>Iluwer</td>
      <td>CG</td>
      <td>The Twilight Inventor</td>
      <td>Chaos, Good, Knowledge, Magic</td>
      <td>Open book</td>
    </tr>
    <tr>
      <td>Ishtar</td>
      <td>N</td>
      <td>Warden of the Elements, The Far-Seeing One</td>
      <td>Animal, Air, Earth, Fire, Plant, Water</td>
      <td>Tree with stars for leaves</td>
    </tr>
  </tbody>
</table>


<h3>Amarhus & Belet-Seri</h3>
<p>Lord Amarhus rules the divine realm of Celestia with his wife Lady Belet-Seri. Along with Lord 
    Ishtar, they created the world and all its inhabitants from Primordial Chaos. Both Amarhus and 
    Belet-Seri are stewards of the Sun, ensuring it rises and sets each day, keeping the world in 
    order. Together, they maintain civilization, with Lady Belet-Seri overseeing the home and hearth, 
    and their safe-keeping, while Lord Amarhus’ purview is that of order, duty, justice, and strength. 
    These gods have the most clerics of any deity, and all paladins serve them first, above the other 
    Celestial Lords.</p>

<h3>Ishtar</h3>
<p>After creating the world with Amarhus & Belet-Seri, Lord Ishtar withdrew from the affairs of other 
    gods, although he keeps a watchful eye on their creations. His focus is on protecting civilization 
    from the dangers and Chaos that threaten to overtake it. Additionally, his keen perception has 
    given him insight the workings of fate and destiny. In addition to his clerics, most rangers and 
    druids pay homage to Lord Ishtar, even though their magics are more primal in nature, rather than 
    divine.</p>

<h3>Ea & Iluwer</h3>
<p>Lady Ea and Lord Iluwer are the twin children of Lord Amarhus and Lady Belet-Seri. While less 
    commonly worshiped than their parents, both are greatly respected in their own rights, Lady Ea 
    for her compassionate guard of travelers and the sick and wounded, and Lord Iluwer for preserving 
    knowledge and inspiring innovation and change.</p>

<br/><hr><br/>

<h2>Lesser Gods</h2>
<p>Aside from the Five described above, there are other gods who are worshipped by specific occupations, 
    sects, or in particular moments. They are listed below.</p>

<table class="char gods">
  <caption><strong>Table 2.</strong> Lesser Gods</caption>
  <thead>
    <tr>
      <th>God</th>
      <th>AL</th>
      <th>Titles</th>
      <th>Domains</th>
      <th>Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Damgulna</td>
      <td>NE</td>
      <td>Lady of Dread, The Frozen Shadow</td>
      <td>Death, Destruction, Evil</td>
      <td>Frozen teardrop</td>
    </tr>
    <tr>
      <td>Eresh</td>
      <td>CN</td>
      <td>The Dawnchild, The Golden Lady</td>
      <td>Chaos, Luck</td>
      <td>Radiant owl</td>
    </tr>
    <tr>
      <td>Marax</td>
      <td>N</td>
      <td>The Wounded Storm</td>
      <td>Air, Destruction, War</td>
      <td>Stormcloud raining blood</td>
    </tr>
    <tr>
      <td>Nanshe</td>
      <td>N</td>
      <td>The Watchful Lantern, The Captured Star</td>
      <td>Magic, Trickery</td>
      <td>Eight-pointed star</td>
    </tr>
    <tr>
      <td>Nin</td>
      <td>LN</td>
      <td>Keeper of the Dead</td>
      <td>Death, Law</td>
      <td>An empty archway</td>
    </tr>
    <tr>
      <td>Rakas</td>
      <td>LE</td>
      <td>The Tempter</td>
      <td>Evil, Law, Trickery</td>
      <td>Red mask in smoke cloud</td>
    </tr>
  </tbody>
</table>
    
<h3>Eresh</h3>
<p>Lady Eresh is said to have been born from a living sunbeam that Lord Amarhus lost in a bet with an 
    Archfae. In that sense, she is his daughter, although is associated with the Fae and inherits 
    their love of trickery and making deals. She is worshipped by merchants, thieves, and con 
    artists.</p>

<h3>Marax</h3>
<p>Lord Marax was the general of the Celestial Horde, who ascended to godhood after his masterful 
    victories in the Dawn War. However, the wounds of that war have yet to heal, and their lingering
    effects manifest in storms and natural disasters that rock the world. He is worshipped by 
    soldiers.</p>

<h3>Nanshe</h3>
<p>No one knows where Lady Nanshe came from, but stories abound of how Lord Iluwer lured her in from a 
    far-off realm. Whether she gave magic to mortals or merely governs its use now is debated among 
    scholars and theologians. It is said she prefers illusion to the other schools of magic, and is 
    rarely seen in Celestia. She is worshipped by mages and occultists.</p>

<h3>Nin</h3>
<p>Lord Nin walks the long grey road, and collects the souls who leave the mortal world. Though death 
    is a painful ending of a life, Nin teaches us that souls persist, and he shepherds them  through 
    the transition of planes, keeping undue influence at bay. While undead are loathed by all gods as 
    an afront to the Divine, clerics of Nin are especially bent on destroying them and their 
    creators.</p>

<h3>Evil in the Cosmos</h3>
<p>Lord Rakas and Lady Damgulna are Evil, and have worshippers amongst those who seek to harm and 
    abuse others, but even good mortals may give them offerings to ward off their influence. Lord 
    Rakas rules the Hells beneath the Celestial Mountain, and Lady Damgulna rules the colder, darker 
    places beneath, where even Devils fear to set foot.</p>

<p>However, there are many other sources of Evil in the world that defy the Divine Order. Demons and 
    the remnants of the Primordials loathe the gods and their creation, seeking to destroy all that 
    exists. These Chaotic forces are an afront to the natural order of the Divine, and thus are not 
    themselves gods. Demon Lords may have worshippers – such as goblins, gnolls, or drow – but this 
    relationship is somewhat different from those of mortals and gods. </p>

<p>Notably, the Demon Prince Orcus is Lord of Undeath; undeath is a perversion of the natural order, 
    it defies the gods and their creation by trapping the remains of a mortal (or in particularly 
    terrible cases, that mortal’s soul) in between the living and the dead. Even Evil gods, such as 
    Lord Rakas, abhor this act, but there are those in the world who still perform it. </p>

<br/><hr><br/>

<h2>Other Beings of Power</h2>
<p>The gods are not the only powerful beings known to exist. Some, like the Archfae and Demon Lords 
    mentioned above, gather their own followers and can exert a mighty influence – nearly godlike – in 
    the world. Other powerful beings include certain celestials (i.e. Archangels) and devils, or even 
    dragons who grow old enough.</p>
</div>