
<div class="world-fiction">
<h2>The Heartlands of Old Ilharim</h2>
<p><strong>The Mehrti Quintain</strong> is a theocratic state governed by a council of Five Archbishops, one each for 
    the Celestial Lords. While the presence of religion and the Bishopry’s restrictions on profane 
    practices (worship of lesser deities and arcane magics), day-to-day life is influenced the varied 
    cultures and stories of the merchants travelling the waterways which serve as a major conduit for 
    trade between the Heartlands and the Eastern Reaches.</p>

<p><strong>The Free City of Mythal</strong> rises under the shadow of Mt. Rachnyr. It has come far 
    from its humble beginnings as a trading post, gathering a vibrant community of scholars and 
    artisans. In recent years, the leadership of the city has fallen to the esoteric Cult of the
    Mountain. Little is known about the workings of the cult, except that Mythal has continued to 
    flourish under their rule.</p>

<p>The great city of <strong>Achalia</strong> was left remarkably intact after the fall of the Ilharic 
    Empire, allowing it to remain a beacon of light and safe haven for refugees in the wake of the 
    collapse. This stability was cemented by a series of militaristic Emperors who seized much of the 
    surrounding lands, forming what they viewed as the natural heir to Ilharim. Over the last century, 
    another wave of expansion and conquest has proceeded up the Sea of Morin. While their eyes have 
    yet to turn inland, the threat of their continued expansion hangs over the other kingdoms in the 
    region.</p>

<p>The <strong>Princes of Gilvry</strong> are descendants of those warlords and governors who fled the 
    growing might of the Achalian empire, and in the highlands forged their own compact. The people of 
    Gilvry are proud of their history and their freedom. Notionally, all lords and princes serve the 
    court of the Grand Prince, but the common [independence] leaves Gilvry politics frequently more 
    mercurial than that.</p>

<p><strong>The Kingdom of Uwlleth</strong> is a land of diverse geography. From the temperate forests 
    rising thorough the Acheron foothills, to the jungles and marshes along the coast, to the fertile 
    riverlands between, life flourishes. Dotted throughout are manors, cultivating a range of crops 
    and spices that dominate the trade in the region.</p>
</div>