<h3> Session 1: Rumble on the Rail</h3>
<h5> 9/11/22 </h5>
<br> 
<p>
While riding the Arcane Rail, a group of passengers was called upon to stop a train heist that interrupted their journey. However, the surviving vagabonds absconded with the train's Arcane Engine, halting their journey. At the best of Captain June Coleman, these passengers set off on the trail of the thieves, taking with them the train's surviving mechanic, Selina. After a day spent trekking through the woods, the group ambushed the bandits' campsite, finding, to their dismay, that the engine had been taken by the group's leader - Buchannan - to a hideout deeper in the forest. The party followed a map left behind and reached a ruined fortress. They now try their hand at lying their way into this hideout using forged documents and a prayer.
</p>
<p> <em>
XP per Player: 135
</em></p>